
.hero {
    padding-top: 6%;
    display: flex;
    flex-direction: row; /* Stack the text vertically */
    color: #BFBFBF;
    font-style: normal;
    justify-content: space-between;
    margin-bottom: 10%;
}

.hero .left {
    flex: 1;
    color: white;
    margin: 0 auto;
    height: 350px;
    border-radius: 10%;
    margin-top: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.hero .left h1 {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
}

.hero .left span {
    font-size: 23px;
    text-align: center;
    line-height: 26px;
}

.hero .left, .hero .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.hero .right {
    flex: 1;
    margin: 0 auto;
    height: 350px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
    margin-top: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.hero .right h1 {
    color: goldenrod;
    font-size: 2.2em;
}

.hero .right .announcement h2 {
    font-size: 1.2em;
}

.hero .right .announcement p {
    font-size: 1.1em;
}

.left, .right {
    flex-basis: 50%;
  }

.registerButtonBodyPage {
    padding: 10px 32px;
    color: white;
    background-color: black;
    font-size: 22px;
    border-radius: 50px;
    /* cursor: pointer; */
    /* margin: 4px 2px; */
    transition: all 0.5s ease;
  }

.registerButtonBodyPage::hover{
    background-color: rgba(219, 166, 206, 0.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
    font-size: 60px;
}

